@tailwind base;
@tailwind components;
@tailwind utilities;

.btn {
  @apply rounded-full;
}

[data-theme = "light"] .navbar {
  background-color: #9bcd9b;
}
.menu-active {
  background-color: #505050;
  border-radius: 10px;
}
.menu-active :nth-child(1) {
  font-weight: bold;
  color: #fff;
}